<div>
  <p>ようこそ、ながのCAKEへ！<br/>
  このサイトは、ケーキ販売のECサイトになります。<br/>
  会員でない方も商品の閲覧はできますが、<br/>
  購入には会員登録が必要になります。</p>
</div>

<div>
  <h3>新着商品</h3><br/>
  <% @items.order(created_at: :desc).limit(4).each do |item| %>
  <% if item.image.attached? %>
    <%= link_to item_path(item) do %>
      <%= image_tag item.image.variant(resize_to_limit: [100, 200]) %>
    <% end %><br/>
  <% end %>
  <p><%= link_to item.name, item_path(item) %></p><br/>
  <p><%= item.price %></p>
<% end %>
</div>

<%= link_to "全ての商品を見る>", items_path %>
