<div class='container px-2 px-sm-0'>
  <div class='row ml-5 pl-5 mt-3'>
    <h1 style="background-color: #dcdcdc; font-size: 24px;">会員一覧</h1>
  </div>
  <table class='table mt-5' style="width: 80%">
    <thead>
      <tr class="table-active">
        <td>会員ID</td>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td style="width: 10%"><%= customer.id %></td>
        <td style="width: 15%"><%= link_to "#{customer.last_name}#{customer.first_name}", admin_customer_path(customer.id) %></td>
        <td style="width: 25%"><%= customer.email %></td>
        <% if customer.is_active == true %>
          <td style="width: 35%" class="text-success">有効</td>
        <% else %>
          <td style="width: 35%" class="text-secondary">退会</td>
        <% end %>
      </tr>
      <% end %>
      <%= paginate @customers %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @customers %>
  </div>
</div>