<h5>注文履歴詳細</h5>

<table class='table table-hover table-inverse'>
  <tr>
    <td><b>購入者</b></td>
    <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
  </tr>
  <tr>
    <td><b>注文日</b></td>
    <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td><b>配送先</b></td>
    <td><%= @order.postal_code %></td>
    <td><%= @order.address %></td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td><b>支払方法</b></td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <td><b>注文ステータス</b></td>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
        <%= f.select :status, Order.statuses.keys.map { |k| [Order.statuses_i18n[k], k] } %>
        <%= f.submit '更新', class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
</table>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th><b>商品</b></th>
      <th><b>単価（税込）</b></th>
      <th><b>数量</b></th>
      <th><b>小計</b></th>
      <th><b>製作ステータス</b></th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= number_to_currency(order_detail.price) %></td>
        <td><%= order_detail.amount %></td>
        <td><%= number_to_currency(order_detail.price * order_detail.amount) %></td>
        <td>
          <%= form_with model: order_detail, url: admin_order_update_order_detail_path(@order, order_detail), method: :patch do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [OrderDetail.making_statuses_i18n[k], k] } %>
            <%= f.submit '更新', class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
      <% total_price += order_detail.price * order_detail.amount %>
    <% end %>
  </tbody>
</table>

<table class='table table-hover table-inverse'>
  <tr>
    <td><b>商品合計</b></td>
    <td><%= number_to_currency(total_price) %></td>
  </tr>
  <tr>
    <td><b>送料</b></td>
    <td><%= number_to_currency(800) %></td>
  </tr>
  <tr>
    <td><b>請求金額合計</b></td>
    <td><%= number_to_currency(total_price + 800) %></td>
  </tr>
</table