<h5>注文履歴詳細</h5>

<table>
  <tr>
    <td><b>購入者</b></td>
    <td><%= @order_detail.order.last_name %><%= @order_detail.order.first_name %></td>
  </tr>
  <tr>
    <td><b>注文日</b></td>
    <td><%= @order_detail.order.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td><b>配送先</b></td>
    <td><%= @order_detail.order.postal_code %></td>
    <td><%= @order_detail.order.address %></td>
    <td><%= @order_detail.order.name %></td>
  </tr>
  <tr>
    <td><b>支払方法</b></td>
    <td><%= @order_detail.order.payment_method %></td>
  </tr>
  <tr>
    <td><b>注文ステータス</b></td>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
        <%= f.select :status, Order.statuses.keys.map %>
        <%= f.submit '更新', class:"btn btn-success" %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <thead>
    <th><b>商品</b></th>
    <th><b>単価（税込）</b></th>
    <th><b>数量</b></th>
    <th><b>小計</b></th>
    <th><b>制作ステータス</b></th>
  </thead>
  <% total_price = 0 %>
  <% @order_detail.each do |order_detail| %>
    <tbody>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= (order_detail.price * order_detail.amount).to_i %></td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map %>
            <%= f.submit '更新', class:"btn btn-outline-success" %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% total_price += (order_detail.price * order_detail.amount).to_i %>
  <% end %>
</table>
<tr>
  <td><b>商品合計</b></td>
  <td><%= total_price %>円</td>
  <td><b>送料</b></td>
  <td><%= 800 %>円</td>
  <td><b>請求金額合計</b></td>
  <td><%= total_price + 800 %>円</td>
</tr>