<h2>注文履歴一覧</h2>

<div class="container">
  <table class="table table-bordered">
    <thead style="background-color: rgba(60, 42, 33, 0.5); color: #E5E5CB; white-space: nowrap;">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to admin_order_path(order) do %>
          <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
        <% end %>
      </td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><%= order.order_details.sum(:amount) %></td>
      <td><%= order.status_i18n %></td>
    </tr>
  <% end %>
 </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate @orders %>
</div>