<div class='container px-2 px-sm-0'>
  <div class='row ml-5 pl-5 mt-3'>
    <h1 style="background-color: #dcdcdc; font-size: 24px;">配送先編集</h1>
  </div>
  <% if @address.errors.any? %>
    <%= @address.errors.count %>件のエラーが発生しました
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @address do |f| %>
    <table class='table table-sm mt-3 mb-5 table-borderless'>
      <tbody>
        <tr>
          <td scope="col" style="width: 25%"><%= f.label :郵便番号（ハイフンなし） %></td>
          <td style="width: 25%"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control form-control-sm" %></td>
          <td style="width: 20%"></td>
          <td style="width: 20%"></td>
        </tr>
        <tr>
          <td scope="col" style="width: 25%"><%= f.label :住所 %></td>
          <td colspan="2"><%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control form-control-sm" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="col" style="width: 25%"><%= f.label :宛名 %></td>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-sm" %></td>
          <td></td>
          <td><%= f.submit "変更内容を保存",class: 'btn btn-sm btn-success btn-block' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>