<div class="container">
  <div class="row">
    <h1 style="background-color: #dcdcdc;">ログイン</h1>
  </div>
  <div class="row m-3">
    <h2 style="font-size: 22px; background-color: #dcdcdc;">会員の方はこちらログイン</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="row ml-5">
      <tbody>
        <tr class="field">
          <td><p>メールアドレス</p></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control ml-5" %></td>
        </tr>

        <tr class="field">
          <td><p>パスワード</p></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control mt-2 ml-5" %></td>
        </tr>

        <tr class="actions">
          <td></td>
          <td><%= f.submit "ログイン",class: 'btn btn-lg btn-primary mt-5  btn-block' %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div class="row m-3">
    <h2 style="font-size: 22px; background-color: #dcdcdc;">会員登録が済みでない方</h2>
  </div>
  <div class="d-flex flex-row ml-5">
    <%= render "devise/shared/links" %><p>から新規登録を行ってください</p>
  </div>