<h4>注文情報確認</h4>
<table>
  <% @sum = 0 %>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.image.variant(resize_to_limit: [100, 100]) %>
        <%= cart_item.item.name %>
      </td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <% subtotal = cart_item.amount * cart_item.item.with_tax_price %>
      <td><%= subtotal %></td>
    </tr>

    <% @sum += subtotal %>
  <% end %>

  <tr>
    <td>送料</td>
    <td>800</td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= @sum %></td>
  </tr>
  <tr>
    <td>請求金額</td>
    <td><%= @sum + 800 %></td>
  </tr>
</table>

<table>
  <!--日本語反映されない-->
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      〒<%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
    </td>
  </tr>
</table>

<%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :payment_method, value:  @order.payment_method %>
  <%= f.hidden_field :shipping_cost, value: 800 %>
  <%= f.hidden_field :postal_code, value: @order.postal_code %>
  <%= f.hidden_field :total_payment, value: @sum + 800%>
  <%= f.hidden_field :address, value: @order.address%>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.hidden_field :status, value: "wait_payment"%>
  <%= f.submit "注文を確定する" %>
<% end %>
