<div class='container px-5 px-sm-0 my-5'>
  <div class='row'>
    <div class='col-md-3'>
      <table class='table table-hover table-bordered'>
        <thead class="mw-100" style="background-color: rgba(105, 105, 105, 0.8); color: #E5E5CB; white-space: nowrap;">
          <tr>
            <!--検索機能 未実装-->
            <th class="text-center">ジャンル検索</th>
          </tr>
        </thead>
        <tbody class="min-1000px border", style="background-color: rgba(255, 255, 249, 0.8); color: #000;">
          <% @genres.each do |genre| %>
            <tr>
              <!--現状はジャンル名表示だけ、linkなし-->
              <td class="border-0"><%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get, class: "badge badge-secondary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h3 class="font-weight-bold my-3">商品一覧
        <small class="text-body-secondary">（全<%= @items.total_count %>件）</small>
      </h3>

      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3 mb-4">
            <div class="card">
              <%= link_to item_path(item) do %>
                <%= image_tag item.image, class: 'card-img-top img-fluid' if item.image.attached? %>
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= item.price %>円</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center my-">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>