<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a7eeb2be5e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color: #ffffe0;">
    <%= render 'layouts/header' %>
    <main class="mb-auto background">
      <div class="container">
          <% if notice %>
            <p class="m-5 alert alert-primary alert-dismissible mx-auto" style="box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #fff">
              <strong><%= notice %></strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
          <% end %>
          <% if alert %>
            <p class="m-5 alert alert-danger alert-dismissible" style="box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #fff">
              <strong><%= alert %></strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </p>
          <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
